@use "./base.scss";
@use "./themes";

@font-face {
  font-family: "Cafe24 Oneprettynight";
  src: url("./static/fonts/Cafe24Oneprettynight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Cafe24 Oneprettynight", system-ui, sans-serif !important;
}

a.internal.tag-link {
  color: var(--dark) !important;
}

// 표지(index)에서 목차, 구분선, 제목 숨기기
body[data-slug="index"] {
  .article-title,
  .content-meta,
  .toc,
  hr {
    display: none !important;
  }
}
